@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  @apply box-border;
}


/* Scrollbar */
::-webkit-scrollbar {
  @apply hidden
}


/* Sonnner */
.sonner-toast {
  @apply backdrop-blur-2xl border-Grey/700 border text-Primary/50 bg-blur
}

.sonner-toast:not([data-type='loading']) {
  & [data-icon] {
    height: calc(100% + 1px);
    position: absolute;
    left: 0;
    width: 45px;
    justify-content: center;
    color: white;
    border-radius: 8px 0 0 8px;

    & svg {
      width: 25px;
      height: 25px;
    }
  }

  & [data-content] {
    margin-left: 40px;
  }
}

.sonner-toast[data-type='success'] [data-icon] {
  @apply bg-Warning/500
}

.sonner-toast[data-type='error'] [data-icon] {
  @apply bg-Error/700
}

.sonner-toast[data-type='loading'] [data-icon] {
  width: 20px;
  margin-right: 15px;
}

/* Classes */
.icon {
  @apply transition-colors duration-200 text-Grey/600 hover:text-Grey/400
}

.blur-bg {
  @apply bg-[url('/images/Background.svg')] bg-cover bg-no-repeat bg-Grey/900
}